@font-face {
  src: url(font_text/AGaramondPro-Bold.otf);
  font-family: AGaramondPro;
  src: url(font_text/Montserrat-MediumItalic.ttf);
  font-family: Montserrat;
}

small, h1, h3, h4, h6 {
  font-family: AGaramondPro;
}

p {
  font-family: Montserrat;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    font-size: 20px;
  }
  a {
    font-size: 10px;
  }
  u {
    font-size: 10px;
  }
  .inset {
    border-left: #14274A solid 2px;
    height: 280px;
  }
  .image_home {
    width: 100%;
    height: 280px;
  }
  .image_facilities, .image_room {
    width: 100%;
    height: 500px;
  }
  .card {
    height: 700px;
    border: 1px solid black;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 20px;
  }
  a {
    font-size: 10px;
  }
  u {
    font-size: 10px;
  }
  .inset {
    border-left: #14274A solid 2px;
    height: 320px;
  }
  .image_home {
    width: 100%;
    height: 300px;
  }
  .image_facilities, .image_room {
    width: 100%;
    height: 450px;
  }
  .card {
    height: 650px;
    border: 1px solid black;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 15px;
  }
  a {
    font-size: 10px;
  }
  u {
    font-size: 10px;
  }
  .inset {
    border-left: #14274A solid 2px;
    height: 260px;
  }
  .image_home {
    width: 100%;
    height: 250px;
  }
  .image_facilities, .image_room {
    width: 100%;
    height: 400px;
  }
  .card {
    height: 600px;
    border: 1px solid black;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 15px;
  }
  a {
    font-size: 10px;
  }
  u {
    font-size: 10px;
  }
  .inset {
    border-left: #14274A solid 2px;
    height: 320px;
  }
  .image_home {
    width: 100%;
    height: 300px;
  }
  .image_facilities, .image_room {
    width: 100%;
    height: 350px;
  }
  .card {
    height: 550px;
    border: 1px solid black;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 8px;
  }
  p {
    font-size: 10px;
  }
  a {
    font-size: 10px;
  }
  u {
    font-size: 10px;
  }
  .inset {
    border-left: #14274A solid 2px;
    height: 130px;
  }
  .image_home {
    width: 100%;
    height: 150px;
  }
  .image_facilities, .image_room {
    width: 100%;
    height: 280px;
  }
  .card {
    height: 500px;
    border: 1px solid black;
  }
}

.header_home {
  background-image: url("../../images/background_home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.header_home .logo {
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  background-color: #E0B973;
  color: #14274A;
  padding-top: 0px;
  padding: 5px 5px;
  margin-top: 0px;
}

.header_home .button {
  text-align: center;
}

.header_home .button .button__child {
  background-color: #E0B973;
  border-radius: 10% 10%;
  border: 1px solid white;
  width: 160px;
}

.header_home .button .icon_down {
  font-size: 30px;
}

section {
  color: #14274A;
}

section .button__child {
  background-color: #E0B973;
  border-radius: 10% 10%;
  border: 1px solid white;
  width: 160px;
}

section .footer {
  text-align: center;
}

section .arrow {
  background-color: #E0B973;
  font-size: 30px;
}

.header_facilities {
  background-image: url("../../images/background_Facilities.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.header_facilities .logo {
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  background-color: #E0B973;
  color: #14274A;
  padding-top: 0px;
  padding: 5px 5px;
  margin-top: 0px;
}

.header_facilities .button {
  text-align: center;
}

.header_facilities .button .button__child {
  background-color: #E0B973;
  border-radius: 10% 10%;
  border: 1px solid white;
  width: 160px;
}

.header_facilities .button .icon_down {
  font-size: 30px;
}

section {
  color: #14274A;
}

section .content {
  position: relative;
  margin: auto;
}

section .title {
  width: 300px;
  border: 0px solid white;
  background-color: white;
  position: absolute;
  margin: auto;
}

.header_room {
  background-image: url("../../images/background_room.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.header_room .logo {
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  background-color: #E0B973;
  color: #14274A;
  padding-top: 0px;
  padding: 5px 5px;
  margin-top: 0px;
}

.header_room .button {
  text-align: center;
}

.header_room .button .button__child {
  background-color: #E0B973;
  border-radius: 10% 10%;
  border: 1px solid white;
  width: 160px;
}

.header_room .button .icon_down {
  font-size: 30px;
}

section {
  color: #14274A;
}

section .card-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .plus {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #E0B973;
}

section .card-text {
  background-color: #14274A;
  width: 100%;
  height: 50px;
}

section .card-button {
  background-color: #E0B973;
  height: 50px;
}

.header_contact {
  background-color: #14274A;
  text-align: center;
  height: 300px;
}

.header_contact .logo {
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  background-color: #E0B973;
  color: #14274A;
  padding-top: 0px;
  padding: 5px 5px;
  margin-top: 0px;
}

section .myCard .myLeftCtn i {
  font-size: 30px;
}

section .myCard .myRightCtn input, section .myCard .myRightCtn textarea {
  border: 1px solid #14274A;
}

section .myCard .myRightCtn .submit {
  background-color: #E0B973;
  border: 1px solid #E0B973;
  border-radius: 5px;
}

footer {
  background-color: #14274A;
  position: relative;
  top: 100px;
}

footer .form-control, footer .input-group-text {
  border: 3px solid #E0B973;
  line-height: 10px;
  color: #14274A;
}

footer .input-group-text {
  background-color: #E0B973;
}

footer::after {
  content: ' ';
  width: 0px;
  height: 0px;
  border: solid transparent;
  border-bottom-color: #14274A;
  position: absolute;
  left: 50%;
  bottom: 100%;
  border-width: 50px;
  margin-left: -50px;
}
/*# sourceMappingURL=style.css.map */