@font-face {
    src: url(font_text/AGaramondPro-Bold.otf);
    font-family: AGaramondPro;
    src: url(font_text/Montserrat-MediumItalic.ttf);
    font-family: Montserrat;
}
small,h1,h3,h4,h6{
    font-family:AGaramondPro ;
}
p{
    font-family:Montserrat ;
}

$image-url: "../../images/";
$background-position: center center;
$height:500px; 
$background-repeat: no-repeat;
$background-size: cover;
$background-attachment: fixed;
$border-radius:0px 0px 20px 20px;
$color: #E0B973;
$background-color:#14274A;

$map_xl: (h1:60px , h2:40px , h3:35px ,h4:30px , h5:22px , h6:12px , p:20px , a:10px , u:10px );
$map_lg: (h1:50px , h2:30px , h3:25px ,h4:20px , h5:22px , h6:10px , p:20px , a:10px , u:10px );
$map_md: (h1:40px , h2:27px , h3:22px ,h4:18px , h5:22px , h6:10px , p:15px , a:10px , u:10px );
$map_sm: (h1:35px , h2:25px , h3:20px ,h4:16px , h5:22px , h6:10px , p:15px , a:10px , u:10px );
$map   : (h1:30px , h2:20px , h3:16px ,h4:14px , h5:22px , h6: 8px , p:10px , a:10px , u:10px );
@media (min-width:1200px){
    @each $key, $value in $map_xl {
        #{$key} {
            font-size: #{$value};
        }
    }
    .inset{
        border-left:$background-color solid 2px ;
        height: 280px;
    }
    .image_home {
        width: 100%;
        height: 280px;
    }
    .image_facilities, .image_room {
        width: 100%;
        height: 500px;
    }
    .card {
        height: 700px;
        border: 1px solid black;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    @each $key, $value in $map_lg {
        #{$key} {
            font-size: #{$value};
        }
    }
    .inset{
        border-left: $background-color solid 2px ;
        height: 320px;
    }
    .image_home {
        width: 100%;
        height: 300px;
    }
    .image_facilities, .image_room{
        width: 100%;
        height: 450px;
    }
    .card {
        height: 650px;
        border: 1px solid black;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    @each $key, $value in $map_md {
        #{$key} {
            font-size: #{$value};
        }
    }
    .inset{
        border-left: $background-color solid 2px ;
        height: 260px;
    }
    .image_home {
        width: 100%;
        height: 250px;
    }
    .image_facilities, .image_room{
        width: 100%;
        height: 400px;
    }
    .card {
        height: 600px;
        border: 1px solid black;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    @each $key, $value in $map_sm {
        #{$key} {
            font-size: #{$value};
        }
    }
    .inset{
        border-left: $background-color solid 2px ;
        height: 320px;
    }
    .image_home {
        width: 100%;
        height: 300px;
    }
    .image_facilities, .image_room{
        width: 100%;
        height: 350px;
    }
    .card {
        height: 550px;
        border: 1px solid black;
    }
}
@media (max-width: 575.98px) {
    @each $key, $value in $map {
        #{$key} {
            font-size: #{$value};
        }
    }
    .inset{
        border-left: $background-color solid 2px ;
        height: 130px;
    }
    .image_home {
        width: 100%;
        height: 150px;
    }
    .image_facilities, .image_room{
        width: 100%;
        height: 280px;
    }
    .card {
        height: 500px;
        border: 1px solid black;
    }
}
@mixin logo{
    border-radius:$border-radius ;
    text-align: center;
    background-color: $color;
    color: $background-color;
    padding-top: 0px;
    padding: 5px 5px;
    margin-top: 0px;
} 
@mixin buttons{
    background-color:$color ;
    border-radius: 10% 10%;
    border: 1px solid white;
    width: 160px;
}
@mixin header{
    background-position:$background-position ;
    background-repeat:$background-repeat ;
    background-size:$background-size ;
    background-attachment: $background-attachment;
    height:$height ;
    .logo{
        @include logo();
    }
    
    .button{
        text-align: center;
        .button__child{
            @include buttons();
        }
        .icon_down{
            font-size: 30px;
        }
    }
    
}
.header_home{
    background-image: url($image-url+ "background_home.jpg");
    @include header();
}
section{   
    color:$background-color;
    .button__child{
        @include buttons();
    }
    .footer {
        text-align: center;
    }
    .arrow {
        background-color:$color  ;
        font-size: 30px;
    }
    
}

.header_facilities{
    background-image: url($image-url+ "background_Facilities.jpg");
    @include header();
}
section{
    color:$background-color;
    .content {
        position: relative;
        margin: auto;
    }
    .title {
        width: 300px;
        border: 0px solid white;
        background-color: white;
        position: absolute;
        margin: auto;
    }   
}

.header_room {
    background-image: url($image-url+ "background_room.jpg");
    @include header();
}
section {
    color:$background-color;
    .card-body{
        align-items: center;
    }
    .plus {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: $color;
    }
    .card-text {
        background-color: $background-color;
        width: 100%;
        height: 50px;
    }
    .card-button {
        background-color: $color;
        height: 50px;
    }
}

.header_contact{
    background-color: $background-color;
    text-align: center;
    height: 300px;
    .logo {
       @include logo();
    }
}
section{
    .myCard {
        .myLeftCtn {
            i {
                font-size: 30px;
            }
        }
        .myRightCtn{
            input ,textarea{
                border: 1px solid $background-color;
            }
            .submit {
                background-color: $color;
                border: 1px solid $color;
                border-radius: 5px;
                // align-items: right;
            }
        }
    }

}
footer{
    background-color:$background-color ;
    position: relative;;
    top: 100px;
    .form-control, .input-group-text{
        border: 3px solid $color;
        line-height: 10px;
        color: $background-color;
    }
    .input-group-text{
        background-color: $color;
    }
    
}
footer::after{
    content: ' ';
    width: 0px;
    height: 0px;
    border: solid transparent;
    border-bottom-color: $background-color;
    position: absolute;
    left: 50%;
    bottom: 100%;
    border-width: 50px;
    margin-left: -50px;
}



